name: Build and push to nuget.org

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  BUILD_CONFIGURATION: Release

jobs:
  pack:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        id: setup
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json

      - run: echo '${{ steps.setup.outputs.dotnet-version }}'

      - name: Cache nuget packages
        id: cache-nuget
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
            ${{ runner.os }}-

      - name: List the state of nuget packages
        if: ${{ steps.cache-nuget.outputs.cache-hit != 'true' }}
        continue-on-error: true
        run: dotnet nuget locals all --list

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration ${{ env.BUILD_CONFIGURATION }}

      - name: Test
        run: dotnet test

      - name: Pack
        if: github.ref == 'refs/heads/main'
        run: dotnet pack src/Enviewer/Enviewer.csproj --no-build --output ${{ env.DOTNET_ROOT }}/enviewer --configuration ${{ env.BUILD_CONFIGURATION }}

      - name: Upload artifact for push job
        uses: actions/upload-artifact@v2
        with:
          name: enviewer
          path: ${{ env.DOTNET_ROOT }}/enviewer

  push:
    needs: pack
    runs-on: ubuntu-latest
    environment: nuget.org

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4.1.7
        with:
          name: enviewer

      - name: Push
        if: github.ref == 'refs/heads/main'
        run: dotnet nuget push ./*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
