name: Build and push to nuget.org

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  BUILD_CONFIGURATION: Release

jobs:
  pack:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@de0fac2 # v6.0.2

      - name: Setup .NET
        id: setup
        uses: actions/setup-dotnet@baa11fb # v5.1.0
        with:
          global-json-file: global.json

      - run: echo '${{ steps.setup.outputs.dotnet-version }}'

      - name: Cache nuget packages
        id: cache-nuget
        uses: actions/cache@cdf6c1f # v5.0.3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
            ${{ runner.os }}-

      - name: List the state of nuget packages
        if: ${{ steps.cache-nuget.outputs.cache-hit != 'true' }}
        continue-on-error: true
        run: dotnet nuget locals all --list

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration ${{ env.BUILD_CONFIGURATION }}

      - name: Test
        run: dotnet test

      - name: Pack
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
            dotnet pack src/Enviewer/Enviewer.csproj \
                --no-build \
                --output ${{ env.DOTNET_ROOT }}/enviewer \
                --configuration ${{ env.BUILD_CONFIGURATION }}

      - name: Upload artifact for push job
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@b7c566a # v6.0.0
        with:
          name: enviewer
          path: ${{ env.DOTNET_ROOT }}/enviewer

  push:
    needs: pack
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    environment: nuget.org

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@018cc2c # v.6.0.0
        with:
          name: enviewer

      - name: Push
        run: |
            dotnet nuget push ./*.nupkg \
                --api-key ${{ secrets.NUGET_API_KEY }} \
                --source https://api.nuget.org/v3/index.json \
                --skip-duplicate
